:root {
    --color-primary: #82b49b;
    --color-secondary: #699b80;
    --color-accent: #7ab49e;
    --color-bg: #b8d1c3;
    --color-bg-hover: #e4f1eb;
    --color-bg-soft: #9cc2ae;
    --color-heading: #2e2e2e;
    --color-text: #444444;
    --color-text-light: #ffffff;
    --color-hover: #7ab59f;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: var(--color-text-light);
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
    background: var(--color-bg);
    border-radius: 10px;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Tajawal", sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--color-text-light);
}

ul {
    list-style: none;
    display: flex;
}

/* Start nav */
nav {
    position: sticky;
    top: 0;
    right: 0;
    width: 100%;
    background-color: var(--color-heading);
    box-shadow: 0 0 5px #000;
    display: flex;
    justify-content: center;
    z-index: 1000;
}

nav .container {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

nav .logo a {
    position: relative;
    top: 5px;
}

nav img {
    width: 100px;
    height: 80px;
}

nav ul {
    gap: 20px;
}

nav ul li,
nav ul a {
    color: var(--color-text-light);
    display: flex;
    align-items: center;
    transition: all 0.3s;
}

nav ul li i {
    margin: 0 5px;
}

nav ul li:hover,
nav ul a:hover,
nav ul .active {
    color: var(--color-hover);
    transform: scale(1.03);
}

@media (max-width: 760px) {
    nav ul li p {
        display: none;
    }

    nav ul {
        margin-bottom: 20px;
        font-size: 20px;
        width: 100%;
        justify-content: space-around;
    }

    nav .container {
        flex-direction: column;
        align-items: center;
    }
}
/* End nav */


.prod {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 80px;
    background-color: var(--color-bg);
}

@media (max-width: 760px) {
    .prod {
        padding: 50px 25px;
    }
}

/* Start wrapper */
.wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 10px;
    /* border: 1px solid var(--color-heading); */
    background-color: var(--color-text-light);
    overflow: hidden;
    transition: all 0.3s;
}

.wrapper:hover {
    transform: scale(1.01);
    box-shadow: 0 0px 5px #00000050;
}

.wrapper .image {
    flex: 1 1 300px;
    display: flex;
    justify-content: center;
    align-items: start;
    background-color: var(--color-text-light);
    /* border-left: 1px solid var(--color-heading); */
    padding: 50px;
}

.wrapper .image img {
    max-width: 100%;
    border-radius: 10px;
    transition: all 0.5s;
}

.wrapper .image img:hover {
    transform: scale(1.02);
    box-shadow: 0 0px 5px #00000050;
}

.wrapper .about {
    flex: 2 1 500px;
    padding: 50px;
    color: var(--color-text);
}

.about .name {
    color: var(--color-heading);
    font-size: 24px;
    margin-bottom: 10px;
}

.about .rating {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    color: gold;
    margin-bottom: 10px;
}
.about .rating .unique {
    color: var(--color-text);
    font-size: 12px;
}

.about .price {
    font-size: 20px;
    font-weight: bold;
    color: var(--color-secondary);
}
.about .price span {
    font-size: 16px;
    color: var(--color-text);
}

.about .aboutText p:first-child {
    font-weight: bold;
    color: var(--color-heading);
    margin: 20px 0 10px;
    font-size: 18px;
}
.about .aboutText ul {
    flex-direction: column;
}
.about .aboutText li {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 12px;
    color: var(--color-text);
}

.about .aboutText i {
    color: var(--color-primary);
    font-size: 16px;
}

.about form {
    margin-top: 20px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}
.about form label {
    font-weight: bold;
    color: var(--color-heading);
}
.about form input[type="number"],
.about form input[type="color"] {
    margin-left: 30px;
    border-radius: 6px;
    border: 1.5px solid var(--color-bg-soft);
}

.about form input[type="number"] {
    width: 80px;
    padding: 6px;
}

.about form input[type="color"] {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: none;
    box-shadow: 0px 4px 6px #0000001a;
    cursor: pointer;
    transition: all 0.3s;
}

.about form input[type="color"]::-webkit-color-swatch-wrapper {
    border: none;
    border-radius: 50%;
    padding: 0;
}

.about form input[type="color"]:hover {
    transform: scale(1.05);
}

.about .buy {
    display: block;
    margin-top: 20px;
    text-align: center;
    background-color: var(--color-primary);
    color: var(--color-text-light);
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    transition: all 0.3s;
}
.about .buy:hover {
    background-color: var(--color-secondary);
    transform: scale(1.01);
    box-shadow: 0px 0px 5px #00000050;
}
/* End wrapper */

/* Start details */
.details {
    margin-top: 50px;
}

.details h3 {
    border-right: 2px solid var(--color-text-light);
    padding: 10px;
    color: var(--color-heading);
    border-radius: 5px;
    box-shadow: inset -2px 0px 5px #44444440;
}

.details .det {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
    background-color: var(--color-bg-hover);
}

.details .det td {
    border: 2px solid var(--color-text-light);
    padding: 12px;
    text-align: right;
    color: var(--color-heading);
}

.details .det td:first-child {
    background-color: var(--color-bg-soft);
    font-weight: bold;
}

/* End details */


/* Start footer */

footer {
    position: relative;
    background-color: var(--color-heading);
    color: var(--color-text-light);
    padding: 20px;
}

footer .container {
    display: flex;
    justify-content: space-around;
}

@media (max-width: 760px) {
    footer .container {
        flex-direction: column;
        align-items: center;

    }
    
    footer .box {
        text-align: center;
    }

    footer .box .head::after {
        left: -50% !important;
        transform: translateX(50%);
    }

    footer .box .first {
        justify-content: center;
    }
}

footer .box {
    padding: 10px;
    width: 300px;
}

footer .box img {
    width: 100px;
    height: 80px;
}

footer .box .brief {
    line-height: 2;
}

footer .box .head {
    color: var(--color-primary);
    margin-bottom: 20px;
}

footer .box .head::after {
    content: '';
    display: block;
    width: 40px;
    height: 2px;
    background-color: var(--color-secondary);
    position: relative;
    top: 7px;
    left: -7px;
}

footer .box .first {
    font-size: 30px;
    gap: 25px;
}

footer .box .first li,
footer .box .first a {
    transition: all 0.3s;
}

footer .box .first li:hover,
footer .box .first li:hover a {
    color: var(--color-accent);
    transform: scale(1.1);
}

footer .box .second {
    flex-direction: column;
}

footer .box .second li,
footer .box .second a {
    margin-bottom: 20px;
    transition: all 0.3s;
}

footer .box .second li:hover,
footer .box .second li:hover a {
    transform: translateX(5px);
    color: var(--color-accent);
}

footer .copy {
    text-align: center;
    font-size: 12px;
    margin-top: 20px;
}

footer .copy .logo {
    color: var(--color-primary);
    font-size: 14px;
    font-weight: bold;
}

footer .copy::before {
    content: '';
    display: block;
    width: 100px;
    height: 2px;
    background-color: var(--color-primary);
    position: relative;
    left: -50%;
    transform: translateX(50%);
    bottom: 10px;
}
/* End footer */